<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>TF2 Pugs</title>
    <link rel="stylesheet" type="text/css" href="/css/pug_login.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>
<body>
    <noscript>
        <style type="text/css">
            .pagecontainer {display:none;}
        </style>
        <div class="noscriptmsg">
            <p>You need Javascript enabled to access this site.
            <a href="https://www.google.com/search?hl=en&tbo=d&output=search&sclient=psy-ab&q=how+to+enable+javascript">Let me google that for you</p>
        </div>
    </noscript>
<div class="pagecontainer">

    <div class="background_img">
            <img src="{{login_background}}">
    </div>
    <div id="faq_link"><a href="{{home_link}}">Back to Main Page</a></div>
    <div class="center_img">
    <h1 class="center_img">TF2 Pugs FAQ</h1>
    <hr>
    <br>
    <div id="faq_text">
    <div id="faq_center">
    <h3>1. What is TF2 PUGS?</h3>
	<p id="faq_answer">TF2 Pugs is a web application to aid in PUG (pick-up game) creation in tf2.</p>
    <hr>
    <br>
    <h3>2. What is a PUG?</h3>
	<p id="faq_answer">PUG litterally stands for Pick-Up Game. It is a special TF2 game where both teams abide by a set of rules established beforehand. The rules established can enhance the balance, competativeness, and overall enjoyment of TF2.</p>
    <hr>
    <br>
    <h3>3. What kind of PUGs are commonly played in TF2?</h3>
	<p id="faq_answer"><b>6v6</b> is popular among the most competative TF2 players. It consist of 6 players who follow class restrictions to only allow so many of one class at a time, and weapon restrictions.</p>
	<li>2 scouts, 2 pyros, 2 soldiers, 1 demoman, 1 heavy weapons guy, 1 engineer, 2 snipers, 1 medic, and 2 spies</li>
	<p id="faq_answer">Games are played in a first-to-five format or timed format.</p><br>
	<p id="faq_answer"><b>9v9</b> is also call highlander. One of each class is played at all times for the duration of the PUG. The game rules are similar in a first-to-five or timed fasion, but the weapon restictions are more relaxed.</p>
    <hr>
    <br>
    <h3>4. How can I get started?</h3>
	<p id="faq_answer">It's pretty simple all you have to do is click on any of the live rooms listed. Once in a room, you may pick the classes you would like to play. When there are enough people to start the pug picking will start. The captain will pick who he wants to be on his team. Don't be discouraged if you don't get picked, there are many reasons that you may not have been picked. A captain is not able to pick everyone everytime.</p>
    <hr>
    <br>
    <h3>5. This room requires a microphone. Does this mean I need a microphone to play?</h3>
	<p id="faq_answer">Yes. The rooms that require a microphone will require you to have one and <a href="http://mumble.sourceforge.net/" target="_blank">mumble</a> installed. Don't worry, it's very simple to install and the information to connect is given as a link in the room. This allows for quick communications between members of the team required in TF2 competative play.</p>


    </div>
    </div>

</div><!--pagecontainer-->
</body>
</html>